
.main{
    display: flex;
    min-height: 100vh;
   color:white;
   align-items: center;
   text-align: center;
}

.backgroundImageDiv{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.buttonDiv{
    position: absolute;
}

.circleContainer {
    position: relative;
    /* background-color: aqua; */
    display: flex;
    height: 600px;
    width: 600px;
    margin:auto;
    justify-content: center;
    align-items: center;
    /* animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 60s;
    transition: 310ms; */
    /* animation-name: planetRotate; */
}
@keyframes planetRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.circleContainer li {
    position: absolute; 
    left:0;
    list-style: none;
    transform-origin: 300px;
}      
    
.dot {
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}
.dot:hover{
    height: 18px;
    width: 18px;
    
}

.outerCircle{
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}
.outerCircle:hover{
    border: 2px solid;
    cursor: pointer;
}

.xxx{
    position: absolute;
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    left:23%;
    top:-5%;
    transform: translate(-50%, -50%);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 60s;
    transition: 310ms;
    animation-name: planetRotate;
}
.yyy{
    position: absolute;
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    left:20%;
    top:-10%;
    transform: translate(-50%, -50%);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-duration: 40s;
    transition: 310ms;
    animation-name: planetRotate;
}
.zzz{
    position: absolute;
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    left:22%;
    top:-12%;
    transform: translate(-50%, -50%);
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 40s;
    transition: 310ms;
    animation-name: planetRotate;
}


.ghumaiya{
    position: absolute;
    left:0;
    list-style: none;
    transform-origin: 400px;
}