.closeButtonDiv{
    padding:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2rem auto;
}

.button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin:10px;
    margin-left: 20px;
}



.grid{
    padding:0 6rem;
}
.gridContainer {
    display: grid;
    grid-template-areas:
      'null header header header menu menu null2 i3'
      'i4 null3 null3 null7 null7 null7 null4 i3'
      'i4 null3 null3 i5 i5 null5 null4 i3'
      'i4 null6 null6 null6 null6 xx xx xx';
    gap: 20px;
    padding: 10px;
    letter-spacing: 0.5rem;
  }
  
  
  .gridContainer > div {
    text-align: center;
    font-size: 30px;
    border-radius:20px;
    transition: transform .2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }



/* ///////////////////////////////  Category Div //////////////////////////////////// */

.containeri1{
    width: auto;
    height: 100px;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: white;
    border-radius: 30px;
    position: relative; 
    
    grid-area: header;
}
.i2 { 
    background-color: white;
    
    grid-area: menu;
 }

.i3 {
    background-color: white;
    
    grid-area:i3;
}
.i4 {
    background-color: white;
    
    grid-area:i4;
}
.i5 {
    background-color: white;
    
    grid-area:i5;
}
.i6 {
    background-color: white;
    
    grid-area:xx;
}


/* ///////////////////////////////  Null Div //////////////////////////////////// */


.container1 {
    width: auto;
    height: 100px;
    grid-area: null;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    
    position: relative;
  }
  
  .item1 {
    width: 100%;
    height: 100%;
    background: #FFCF23;
    border-radius: inherit;
    /* color:white */
  }
  .container2 {
    /* width: 200px; */
    /* height: 200px; */
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    position:relative;
    border-radius: 30px;
    grid-area:null2;
  }
  
  .item2 {
    width: 100%;
    height: 100%;
    background: #FFCF23;
    border-radius: inherit;
    /* color:white */
  }
  .container3 {
    /* width: 200px; */
    height: 220px;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    border-radius: 30px;grid-area:null3;
  }
  
  .item3 {
    width: 100%;
    height: 100%;
    background: #A500F2;
    border-radius: inherit;
    /* color:white */
  }
  .container4 {
    /* width: 200px; */
    /* height: 200px; */
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    border-radius: 30px;grid-area:null4;
  }
  
  .item4 {
    width: 100%;

    height: 100%;
    background: #F83434;
    border-radius: inherit;
    /* color:white */
  }
  .container5 {
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    
    position: relative;grid-area:null5;
  }
  
  .item5 {
    width: 100%;
    height: 100%;
    background: #FFCF23;
    border-radius: inherit;
  }
  .container6 {
    height: 100px;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    
    position: relative;grid-area:null6;
  }
  
  .item6 {
    width: 100%;
    height: 100%;
    background: #64D6E2;
    border-radius: inherit;
  }
  .container7 {
    height: auto;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    border-radius: 30px;grid-area:null7;
  }
  
  .item7 {
    width: 100%;
    height: 100%;
    background: #64D6E2;
    border-radius: inherit;
  }

.icon{
    width: 500px;
}
/* ////////////////////////////// Basic Content////////////////////////////////// */

.nullContentDiv{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #A500F2;
    object-fit: fill;
}

.hintLine{
    text-align: center;
    color: white;
    margin-top: 2rem;
    letter-spacing: 0.2rem;
}