.closeButtonDiv{
    padding:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin:2rem auto; */
    margin-bottom: 2rem;
}

.button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin:10px;
    margin-left: 20px;
}



.grid{
    padding:0 6rem;
}
.gridContainer {
    display: grid;
    grid-template-areas:
      'null header header header menu menu null2 i3'
      'i4 null3 null3 null7 null7 null7 null4 i3'
      'i4 null3 null3 i5 i5 null5 null4 i3'
      'i4 null6 null6 null6 null6 xx xx xx';
    gap: 20px;
    padding: 10px;
    letter-spacing: 0.5rem;
  }
  
  
  .gridContainer > div {
    text-align: center;
    font-size: 30px;
    border-radius:20px;
    transition: transform .2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }



/* ///////////////////////////////  Category Div //////////////////////////////////// */

.containeri1{
    width: auto;
    height: 100px;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: white;
    border-radius: 30px;
    position: relative; 
    transform: 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
    grid-area: header;
}
.i2 { 
    background-color: white;
    transform: 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
    
    grid-area: menu;
 }

.i3 {
    background-color: white;
    transform: 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
    
    grid-area:i3;
}
.i4 {
    background-color: white;
    transform: 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
    
    grid-area:i4;
}
.i5 {
    background-color: white;
    transform: 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
    
    grid-area:i5;
}
.i6 {
    background-color: white;
    transform: 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
    
    grid-area:xx;
}

.containeri1:hover{
  transform: translateY(-10px);
}
.i2:hover{
  transform: translateY(-10px);
}
.i3:hover{
  transform: translatex(10px);
}
.i4:hover{
  transform: translatex(-10px);
}
.i5:hover{
  /* transform: translatex(-10px); */
  scale: 1.02;
}
.i6:hover{
  transform: translateY(10px);
}
/* ///////////////////////////////  Null Div //////////////////////////////////// */


.container1 {
    width: auto;
    height: 100px;
    grid-area: null;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    
    position: relative;
  }
  
  .item1 {
    width: 100%;
    height: 100%;
    background: #FFCF23;
    border-radius: inherit;
    /* color:white */
  }
  .container2 {
    /* width: 200px; */
    /* height: 200px; */
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    position:relative;
    border-radius: 30px;
    grid-area:null2;
  }
  
  .item2 {
    width: 100%;
    height: 100%;
    background: #FFCF23;
    border-radius: inherit;
    /* color:white */
  }
  .container3 {
    /* width: 200px; */
    height: 220px;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    border-radius: 30px;grid-area:null3;
  }
  
  .item3 {
    width: 100%;
    height: 100%;
    background: #A500F2;
    border-radius: inherit;
    /* color:white */
  }
  .container4 {
    /* width: 200px; */
    /* height: 200px; */
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    border-radius: 30px;grid-area:null4;
  }
  
  .item4 {
    width: 100%;

    height: 100%;
    background: #F83434;
    border-radius: inherit;
    /* color:white */
  }
  .container5 {
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    
    position: relative;grid-area:null5;
  }
  
  .item5 {
    width: 100%;
    height: 100%;
    background: #FFCF23;
    border-radius: inherit;
  }
  .container6 {
    height: 100px;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    
    position: relative;grid-area:null6;
  }
  
  .item6 {
    width: 100%;
    height: 100%;
    background: #64D6E2;
    border-radius: inherit;
  }
  .container7 {
    height: auto;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    border-radius: 30px;grid-area:null7;
  }
  
  .item7 {
    width: 100%;
    height: 100%;
    background: #64D6E2;
    border-radius: inherit;
  }

.icon{
    width: 500px;
}
/* ////////////////////////////// Basic Content////////////////////////////////// */

.nullContentDiv{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: white;
    width: 100%; 
    height: 100%;
    background-color: #A500F2;
    /* object-fit: fill; */
}
.textContentDiv{
  position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    z-index: -1;
    width: 100%; 
}

.hintLine{
    text-align: center;
    color: white;
    margin-top: 2rem;
    letter-spacing: 0.2rem;
    animation: colorchange 5s infinite alternate;
    text-transform: uppercase;
    font-size: 1.7rem;
}

@keyframes colorchange {
  0% {
    color:#64D6E2;
  }
  10% {
    color: #64D6E2;
  }
  20% {
    color: #64D6E2;
  }
  30% {
    color: #A500F2;
  }
  40% {
    color: #A500F2;
  }
  50% {
    color: #A500F2;
  }
  60% {
    color: #FFCF23;
  }
  70% {
    color: #FFCF23;
  }
  80% {
    color: #FFCF23;
  }
  90% {
    color: #F83434;
  }
  100% {
    color: #F83434;
  }
}