.createrDiv{
    position: relative;
}
.backgroundImg{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.closeButtonDiv{
    padding:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2rem auto;
    position: absolute;
    left:50%;
    top:-2rem;
    transform: translate(-50%,0);
    cursor: pointer;
    z-index: 100;
}

.button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    margin:10px;
    margin-left: 20px;
}

.model{
    height: 80rem;
    display: flex;
}
.socialDiv{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 120px;
    align-items: center;
    justify-content: space-between;
    padding:2rem 1.2rem;
    border-radius: 20px;
    z-index: 100;
    top:7rem;
}

.nameDiv{
    background-color: white;
    width: 200px;
    padding:1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}
