.outerDiv{
    position: absolute;
    z-index: 100;
    left:50%;
    top:35%;
    transform: translate(-50%, -50%);
    height: 30rem;
    width:70%
}
.rightButtonDiv{
    position: absolute;
    right:-14%;
    top:40%;
}

.checkCode{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0.4rem;
    margin:0.6rem auto;
    margin-right: 0;
    position: relative;
}   
.checkCode h1{
    text-align: center;
    font-size: 1.3rem;
}
