@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  background-color: #2C3333;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.test{
  background: linear-gradient(144deg,#2C3639, #2C3639 50%,#A5C9CA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.test1{
  background: linear-gradient(144deg,#06B6D4, #0096FF 50%,#ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .card{
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#FF0063);
} */
.card {
  
  background-image: linear-gradient(163deg, #06B6D4 0%, #3700ff 100%);
  transition: all .3s;
 }

 .card2 {
  
  background-color: #2C3333;
 
  transition: all .2s;
 }

 .card2:hover {
  transform: scale(0.98);
  
 }
 
 .card:hover {
  box-shadow: 0px 0px 30px 1px rgba(6,182,212, 1);
 }
::-webkit-scrollbar{
  display: none;
}